<html>
    <head>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class = "container p-5 my-5 bg-dark text-white">
            <h1 class = 'text-center'> Public Forum </h1>
        </div>
        <div class = 'container p-5 my-5 bg-dark text-white'>
        <form action="{% url 'questions:questions_home' %}" method="post">
            {% csrf_token %}
            <h2> Title </h2>
            {{questionform.title}}
            <h2> Question </h2>
            {{questionform.question}}
            <br>
            <br>
            <button name="submit" class = 'btn btn-info btn-lg'>Post</button>
        </form>
    </div>
    <div class = "container p-5 my-5 bg-dark text-white">
        <h2> Questions </h2>
        <br>
        <br>
        <ul>
            {% for question in questions %}
                <li>
                    <button class = 'btn btn-light btn-lg'>
                        <a href="{% url 'questions:question' question.id %}">{{question.title}}</a>
                    </button>
                    <br>
                    <br>
                </li>
            {% empty %}
                <li> Nothing here yet </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
